<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet">
    <script src="https://kit.fontawesome.com/8ba49f5bc2.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header>
<section class="top"> 
<div class="logo">
    <img src ="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre">
</div>

<div class="input"> 
    <input type="text" name="Búsqueda" placeholder="Buscar productos, marcas  " required>
    <button>
        <i class="fa-solid fa-magnifying-glass" id="lupa"></i>
    </button>       
</div>
</section>   



<div class="doce" id="cuotas"!important ><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</div>
<nav>
    <ul type="none">
        <li><a href="#"> Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>
</nav>      
<section class="doce">
    <ul type="none">
        <li><a href="#">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
        <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
        <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
    </ul>
</section>

<div class="burger-menu">
    <i class="fas fa-bars"></i>
</div>
<img class="banner" src="/images/img-home-banner.jpg" alt="Banner MercadoLiebre">


</header>
<main>
    <section >
        <h2>Basado en tu última visita</h2>
        <article class="articulos">
            <img class="fotoarticulo" src ="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera moulinex">
            <h5 class="precios">$6.770</h5>
            <h5 class="descuentos">40% OFF</h5>
            <h4>Cafetera Moulinex</h4>
        </article>

        <article class="articulos">
            <img class="fotoarticulo"src ='/images/img-macbook-pro-2019.jpg' alt="Imagen MacBook pro 2019">
            <h5 class="precios">$230.000</h5>
            <h5 class="descuentos">20% off</h5>
           <h4> MacBook Pro 2019</h4>
        </article>

        <article class="articulos">
            <img class="fotoarticulo"src ='/images/img-samsung-galaxy-s10.jpg' alt="Imagen Samsung Galaxy s10">
            <h5 class="precios">$70.500</h5>
            <h5 class="descuentos">10% off</h5>
            <h4>Samsung Galaxy S10</h4>
        </article>

        <article class="articulos">
            <img class="fotoarticulo"src ='/images/img-tv-samsung-smart.jpg' alt="Imagen de Samsumg Smart TV">
            <h5 class="precios">$23.200</h5>
            <h5 class="descuentos">5% off</h5>
            <h4>SmartTv Samsung 43"</h4>
        </article>
    </section>

    <section >
        <h2>Ofertas</h2>
        <article class="articulos">
            <img class="fotoarticulo" src ="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera moulinex">
            <h5 class="precios">$6.770</h5>
            <h5 class="descuentos">40% OFF</h5>
            <h4>Cafetera Moulinex</h4>
        </article>

        <article class="articulos">
            <img class="fotoarticulo"src ='/images/img-macbook-pro-2019.jpg' alt="Imagen MacBook pro 2019">
            <h5 class="precios">$230.000</h5>
            <h5 class="descuentos">20% off</h5>
           <h4> MacBook Pro 2019</h4>
        </article>

        <article class="articulos">
            <img class="fotoarticulo"src ='/images/img-samsung-galaxy-s10.jpg' alt="Imagen Samsung Galaxy s10">
            <h5 class="precios">$70.500</h5>
            <h5 class="descuentos">10% off</h5>
            <h4>Samsung Galaxy S10</h4>
        </article>

        <article class="articulos">
            <img class="fotoarticulo"src ='/images/img-tv-samsung-smart.jpg' alt="Imagen de Samsumg Smart TV">
            <h5 class="precios">$23.200</h5>
            <h5 class="descuentos">5% off</h5>
            <h4>SmartTv Samsung 43"</h4>
        </article>
    </section>


    
</main>
<footer>
    <section class="sectionfooter">
    <div class="footerIcon">
        <i class="fa-solid fa-credit-card"></i>
    </div>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section class="sectionfooter">
    <div class="footerIcon">
        <i class="fa-solid fa-gift"></i>
    </div>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section class="sectionfooter">
    <div class="footerIcon">
        <i class="fa-solid fa-user-shield"></i>
    </div>
        <h4>Seguridad de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </section>
    <section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>
</body>

